.advantages__wrapper {
  @include content;
  padding-bottom: 66px;

  @include desktop-w {
    padding-bottom: 127px;
  }
}

.advantages__title {
  margin: 0;

  color: var(--black1);
  font-family: var(--yandex-black-font);
  font-size: 32px;
  line-height: 30px;
  letter-spacing: -1px;
  vertical-align: top;

  margin-bottom: 30px;

  &::first-letter {
    text-transform: uppercase;
  }

  @include desktop-w {
    font-size: 56px;
    line-height: 50px;
    width: 640px;
    margin-bottom: 48px;
  }
}

.advantages__list {
  @include listres;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 24px;
  justify-content: center;
  width: calc(212 / 311 * 100%);
  margin-left: 99px;

  @include desktop-w {
    flex-direction: row;
    column-gap: 112px;
    row-gap: 61px;
    margin-left: 0;
    justify-content: flex-start;
    width: 100%;
  }
}

.advantages__item {
  position: relative;
  min-height: 83px;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    left: calc(-83px - 16px);
    top: calc(50% - (83px / 2));
    width: 83px;
    height: 83px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  @include desktop-w {
    align-items: flex-start;
    padding-top: 99px;

    &:nth-child(odd) {
      width: 362px;
    }

    &:nth-child(even) {
      width: 400px;
    }

    &::before {
      top: 0;
      left: 0;
    }
  }
}

.advantages__item-start {
  width: calc(190 / 212 * 100%);

  &::before {
    background-image: url("../../img/mobile/advantages-start.webp");
  }

  @include desktop-w {
    &::before {
      width: 111px;
      height: 95px;
      top: -8px;
      left: -14px;
    }
  }
}

.advantages__item-friends {
  &::before {
    background-image: url("../../img/mobile/advantages-friends.webp");
  }

  @include desktop-w {
    &::before {
      width: 101px;
      height: 92px;
      top: -13px;
      left: 1px;
    }
  }
}

.advantages__item-pause {
  &::before {
    background-image: url("../../img/mobile/advantages-pause.webp");
  }
}
.advantages__item-change {
  &::before {
    background-image: url("../../img/mobile/advantages-change.webp");
  }

  @include desktop-w {
    &::before {
      width: 109px;
      height: 101px;
      top: -9px;
      left: -19px;
    }
  }
}

.advantages__item-text {
  margin: 0;

  font-family: var(--yandex-medium-font);
  font-size: 16px;
  color: var(--black1);
  line-height: 120%;

  @include tablet-w {
    font-size: 24px;
  }
}
