.cards-list__item {
  background-color: var(--white-background1);
}

.cards-list__title {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: var(--black2);


}

.cards-list__price-value {
  font-family: var(--prata-font);
  font-size: 12px;
  color: rgba(27, 26, 23, 0.82);
}
