.events {
  padding-bottom: 72px;

  @include desktop-w {
    padding-bottom: 88px
  }
}

.events__text-wrapper {
  @include content;
  font-weight: 500;

  margin-bottom: 48px;

  @include desktop-w {
    margin-bottom: 0;
  }
}

.events__title {
  margin: 0;
  margin-bottom: 32px;

  font-family: var(--yandex-black-font);
  font-size: 32px;
  line-height: 1;
  letter-spacing: -2px;
  vertical-align: top;
  width: calc(290/311 * 100%);
  font-weight: 900;

  @include desktop-w {
    font-size: 48px;
    width: 800px;
    margin-bottom: 48px;
    line-height: 41px;
  }
}

.events__specials-text {
  margin: 0;
  font-size: 16px;

  @include desktop-w {
    display: block;
    width: 442px;
    font-family: var(--yandex-medium-font);
    font-size: 24px;
    line-height: 120%;
  }
}

.events__slider {
  @include content;
  padding-left: 16px;
  padding-right: 16px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  @include desktop-w {
    margin-top: -141px;
    padding-left: 232px;
    padding-right: 232px;

  }
}

.events__slider-list {
  position: relative;
  @include listres;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 24px;

  &::before {
    content: "";
    position: absolute;
    right: -4px;
    top: -55px;
    width: 83px;
    height: 83px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../img/mobile/slider-clip.webp"), radial-gradient(35px 27px at 45px 55px,rgba(193,164,255,0.2),rgba(255,255,255,0));
  }

  @include desktop-w {
    display: grid;
    width: 934px;
    grid-template-columns: 455px 455px;
    grid-template-rows:    455px 203px 455px;
    align-content: space-between;
    gap: 24px;
    transform: rotate(2deg);


    &::before {
      content: none;
    }
  }
}

.events__slider-item {
  width: 100%;
  max-width: 456px;
  height: auto;

  @include desktop-w {
    position: relative;

    &::before {
      transform: rotate(-2deg);
    }
  }
}

.events__slider-man {
  @include desktop-w {
    grid-area: 1/1/3/2;
    align-self: end;

    &::before {
      content: "";
      position: absolute;
      left: -228px;
      top: -114px;
      width: 420px;
      height: 420px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("../../img/desktop/slider-mark.webp");
    }
  }
}

.events__slider-people {
  display: none;

  @include desktop-w {
    display: block;

    &::before {
      content: "";
      position: absolute;
      right: -145px;
      top: -147px;
      width: 300px;
      height: 300px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("../../img/desktop/slider-clip.webp");
    }
  }
}

.events__slider-girl {
  display: none;

  @include desktop-w {
    display: block;
    grid-area: 2/2/4/-1;
    align-self: start;

    &::before {
      content: "";
      position: absolute;
      left: auto;
      right: -161px;
      top: 191px;
      width: 396px;
      height: 494px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("../../img/desktop/slider-mug.webp");
    }
  }
}

.events__slider-bag {
  display: none;

  @include desktop-w {
    display: block;
  }
}

.events__slider-buttons {
  width: 108px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include desktop-w {
    display: none;
  }
}

.events__slider-button {
  @include btnres;

  width: 48px;
  height: 48px;

  border-radius: 50%;
  background-color: var(--yellow1);

  display: flex;
  justify-content: center;
  align-items: center;
}

.events__slider-left {
  opacity: 50%;
}
