.events {
  padding-bottom: 72px;
}

.events__text-wrapper {
  @include content;
  font-weight: 500;

  margin-bottom: 48px;
}

.events__title {
  margin: 0;
  margin-bottom: 32px;

  font-family: var(--yandex-black-font);
  font-size: 32px;
  line-height: 1;
  letter-spacing: -2px;
  vertical-align: top;
  width: calc(290/311 * 100%);
  font-weight: 900;
}

.events__specials-text {
  margin: 0;
  font-size: 16px;
}

.events__slider {
  @include content;
  padding-left: 16px;
  padding-right: 16px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.events__slider-list {
  position: relative;
  @include listres;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 24px;

  &::before {
    content: "";
    position: absolute;
    right: -4px;
    top: -80px;
    width: 153px;
    height: 184px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../img/mobile/slider-clip.webp");
  }
}

.events__slider-item {
  width: 100%;
  max-width: 456px;
  height: auto;
}

.events__slider-buttons {
  width: 108px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.events__slider-button {
  @include btnres;

  width: 48px;
  height: 48px;

  border-radius: 50%;
  background-color: var(--yellow1);

  display: flex;
  justify-content: center;
  align-items: center;
}

.events__slider-left {
  opacity: 50%;
}
