.events {
  padding-bottom: 72px;
}

.events__text-wrapper {
  @include content;
  font-weight: 500;

  margin-bottom: 48px;
}

.events__title {
  margin: 0;
  margin-bottom: 32px;

  font-family: var(--yandex-black-font);
  font-size: 32px;
  line-height: 1;
  letter-spacing: -2px;
  vertical-align: top;
  width: calc(290/311 * 100%);
  font-weight: 900;

  @include desktop-w {
    font-size: 48px;
    width: 800px;
    margin-bottom: 48px;
    line-height: 41px;
  }
}

.events__specials-text {
  margin: 0;
  font-size: 16px;

  @include desktop-w {
    display: block;
    width: 442px;
    font-family: var(--yandex-medium-font);
    font-size: 24px;
    line-height: 120%;
  }
}

.events__slider {
  @include content;
  padding-left: 16px;
  padding-right: 16px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  @include desktop-w {
    padding-left: 232px;
    padding-right: 232px;
  }
}

.events__slider-list {
  position: relative;
  @include listres;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 24px;

  &::before {
    content: "";
    position: absolute;
    right: -4px;
    top: -80px;
    width: 153px;
    height: 184px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../img/mobile/slider-clip.webp");
  }

  @include desktop-w {
    display: grid;
    width: 934px;
    grid-template-columns: 455px 455px;
    grid-template-rows:    227px 100px 100px 100px;
    grid-column-gap: 24px;
    grid-row-gap: 24px;

    &::before {
      content: none;
    }
  }
}

.events__slider-item {
  width: 100%;
  max-width: 456px;
  height: auto;
}

.events__slider-man {
}

.events__slider-people {
  display: none;

  @include desktop-w {
    display: block;
  }
}

.events__slider-girl {
  display: none;

  @include desktop-w {
    display: block;
  }
}

.events__slider-bag {
  display: none;

  @include desktop-w {
    display: block;
  }
}

.events__slider-buttons {
  width: 108px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.events__slider-button {
  @include btnres;

  width: 48px;
  height: 48px;

  border-radius: 50%;
  background-color: var(--yellow1);

  display: flex;
  justify-content: center;
  align-items: center;
}

.events__slider-left {
  opacity: 50%;
}
