.main-header {
  background-color: var(--default-white);
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0%),
      rgba(255, 255, 255, 100%)
    ),
    linear-gradient(
      0.25turn,
      rgba(255, 255, 255, 20%),
      rgba(255, 255, 255, 20%)
    ),
    linear-gradient(
      0.25turn,
      rgba(255, 92, 77, 20%),
      rgba(235, 70, 159, 20%),
      rgba(131, 65, 239, 20%),
      rgba(63, 104, 249, 20%)
    );

  @include desktop-w {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0%),
      rgba(255, 255, 255, 100%)
    ),
    linear-gradient(
      0.25turn,
      rgba(255, 255, 255, 20%),
      rgba(255, 255, 255, 20%)
    ),
    linear-gradient(
      0.25turn,
      rgba(255, 92, 77, 20%),
      rgba(235, 70, 159, 20%),
      rgba(131, 65, 239, 20%),
      rgba(63, 104, 249, 20%)
    ),
    radial-gradient(ellipse at center,#8241EF,rgba(130, 65, 239, 30%), rgba(130, 65, 239, 20%), rgba(130, 65, 239, 6%))
    ;
  }
}

.main-header__wrapper {
  @include content;
  padding-top: var(--mobile-padding);
  padding-bottom: 348px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../../img/mobile/header-background.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: calc(354 / 375 * 100%);
    height: 308px;
    bottom: 42px;
    left: 5px;
    right: 16px;
  }

  @include desktop-w {
    padding-top: 125px;
    padding-bottom: 124px;
    padding-right: 75px;

    &::after {
      background-image: url("../../img/desktop/header-background.webp");
      width: 823px;
      height: 716px;
      right: 75px;
      left: auto;
    }
  }
}

.main-header__logo-wrapper {
  line-height: 0;
}

.main-header__logo-link {
  display: block;
  margin-bottom: 32px;

  @include desktop-w {
    margin-bottom: 72px;
  }
}

.main-header__logo {
  @include desktop-w {
    width: 176px;
    height: 50px;
  }
}

.main-header__title {
  margin: 0;
  width: 75%;

  color: var(--black1);
  // text-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
  font-family: var(--yandex-black-font);
  font-size: 36px;
  line-height: 34px;
  letter-spacing: -2px;
  vertical-align: bottom;
  // -webkit-text-stroke: 1px #000000;

  margin-bottom: 35px;

  &::first-letter {
    text-transform: uppercase;
  }

  @include desktop-w {
    position: relative;
    // -webkit-text-stroke: 0;
    // text-shadow: none;
    font-size: 72px;
    line-height: 66px;
    width: 420px;
    z-index: 2;
  }
}

.main-header__invite-text {
  display: block;
  margin: 0;

  font-family: var(--yandex-medium-font);
  letter-spacing: 0;
  color: var(--black1);
  font-size: 18px;
  // text-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
  line-height: 22px;
  // -webkit-text-stroke: 2px #000000;

  @include desktop-w {
    width: 420px;
    font-size: 24px;
    // -webkit-text-stroke: 0;
    // text-shadow: none;
    line-height: 30px;
    margin-bottom: 44px;
  }
}

.main-header__prices {
  white-space: nowrap;
  padding-top: 1px;
  padding-bottom: 1px;

  position: relative;
  -webkit-text-stroke: 0;
  border-radius: 15px;
  background: linear-gradient( to bottom, rgba(241, 241, 241, 60%), rgba(241, 241, 241, 60%) ), radial-gradient(circle at bottom left, #e0b8ff, #b6b9ff);

  @include desktop-w {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

.main-header__price-new {
  padding-left: 7px;
  padding-right: 8px;
  padding-top: 1px;
  padding-bottom: 1px;


  background: radial-gradient(circle at bottom left, #b6b9ff, #e0b8ff);
  border-radius: 15px;

  @include desktop-w {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

.main-header__price-old {
  font-size: 13px;
  vertical-align: middle;
  color: var(--grey1);

  padding-right: 5px;
  padding-left: 1px;
  text-decoration: line-through;

  @include desktop-w {
    font-size: 16px;
    padding-left: 8px;
    padding-right: 14px;

    &::after {
      left: 10px
    }
  }
}

.main-header__club-button {
  @include btnres;
  position: fixed;
  bottom: 24px;
  width: 311px;
  left: calc(50% - (311px / 2));
  min-height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;

  font-family: var(--yandex-medium-font);
  font-size: 18px;
  line-height: 22px;
  color: var(--black1);
  font-weight: 500;

  border-radius: 36px;
  background-color: var(--yellow1);

  @include tablet-w {
    display: none;
  }

  @include desktop-w {
    display: block;
    position: static;

    width: 318px;
    min-height: 65px;

    font-size: 24px;
    box-shadow: 0 4px 98px 0 rgba(255, 222, 64, 59%);
  }
}
