.main-header {
  background-color: var(--white-background1);
  line-height: 16px;
}

.main-header__wrapper {
  @include content;
  padding-left: 0;
  padding-right: 0;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  @include tablet-w () {
    padding-top: 34px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 85px;
  }

  @include desktop-w () {

  }
}

.main-header__logo-link {
  font-family:  var(--playfair-font);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.14em;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 107px;
  min-height: 26px;

  margin-bottom: 10px;

  @include tablet-w () {
    margin-top: 1px;
  }

  @include desktop-w () {
    margin-right: 266px;
  }
}

.main-header__logo-wrapper {
  align-self: center;
  width: 19.2px;
  height: 19.2px;
}

.main-header__logo-text {
  margin: 0;
  margin-top: 2px;
  margin-left: 3px;
}

.main-header__nav {
  width: 100%;

  @include tablet-w () {
    width: 50%;
    margin: 0 auto;
  }

  @include desktop-w () {
    width: auto;
    margin: 0;
    margin-right: auto;
  }
}

.main-header__nav-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @include tablet-w () {
    flex-direction: row;
    justify-content: space-around;
  }
}

.main-header__nav-item {
  @include desktop-w () {
    &:not(:last-child) {
      margin-right: 65px;
    }
  }
}

.main-header__nav-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px 0;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--grey1);
    top: -1px;
    left: 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--grey1);
    bottom: 0;
    left: 0;
  }

  @include tablet-w () {
    &::before,&::after {
      content: none;
    }

    padding: 0;
  }
}

.main-header__utils {
  width: 100%;

  @include tablet-w () {
    width: auto;
  }
}

.main-header__utils-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;

  @include tablet-w () {
    justify-content: space-between;
    min-width: 99px;
  }
}

.main-header__utils-item {
  width: 100%;

  @include tablet-w () {
    width: 25%;
  }
}

.main-header__utils-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 10px 0;

  @include tablet-w () {
    padding: 0;
  }
}

.main-header__utils-link-icon {
  position: relative;
}

.main-header__utils-icon {
  position: relative;
}

.main-header__utils-round {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 13px;
  height: 13px;
  background: var(--yellow1);
  border-radius: 50%;
  top: -5px;
  right: -5px;

  font-size: 8px;
  color: var(--black1);
}
