.popular {
  font-family: var(--playfair-font);
  font-size: 14px;
  display: flex;
  color: var(--black1);

  flex-direction: column;

  @include content;
  padding-left: 0;

  @include tablet-w () {
    padding-bottom: 86px;
  }
}

.popular__header {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 20px;

  @include desktop-w () {
    padding: 0;
    padding-top: 50px;
    align-items: center;
  }
}

.popular__title {
  margin: 0;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  margin-bottom: 30px;

  @include desktop-w () {
    font-size: 32px;
    line-height: 36px;
  }
}

.popular__show-all {
  @include btnres;
  font-family: var(--main-font);
  width: 104px;
  min-height: 15px;
  color: var(--grey3);
  position: relative;
  font-weight: 700;
  letter-spacing: 1px;

  align-self: center;

  &::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 1px;
    top: auto;
    bottom: -10px;
    right: 2px;
    left: auto;
    background-color: var(--grey4);
    background-size: auto;
  }

  @include desktop-w () {
    align-self: flex-end;
  }
}

.popular__cards-list {
  @include listres;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include desktop-w () {
    padding-top: 25px;
    justify-content: flex-start;
  }
}

.popular__cards-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-left: 28px;

  @include desktop-w () {
    &:not(:last-child) {
      margin-right: 25px;
    }
  }
}

.popular__cards-title {
  margin-left: 40px;
}

.popular__cards-price {
  margin-left: 40px;
  display: flex;
  flex-wrap: wrap;
}

.popular__cards-price-currency {
  color: rgba(27, 26, 23, 0.82);
  font-size: 13px;
  line-height: 15px;
  margin-left: 4px;
}

.popular__cards-list-button {
  @include btnres;
  position: relative;
  width: 92px;
  min-height: 40px;
  align-self: center;

  font-family: var(--playfair-font);
  font-size: 16px;
  color: var(--black1);
  margin-bottom: 40px;

  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 1px;
    top: auto;
    bottom: 40%;
    right: auto;
    left: -48px;
    background-color: var(--grey2);
    background-size: auto;
  }
}

.popular__cards-image {
  max-width: 333px;
}

.popular__cards-image-pic {
  width: 100%;
}
