
.preview {
  background-color: var(--white-background1);
}

.preview__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @include content;

  padding-left: 0;
  padding-right: 0;

  @include tablet-w () {
    flex-direction: row;
    min-height: 768px;
    padding-left: var(--tablet-padding);
    padding-right: 0;
    padding-top: 0;
    justify-content: space-between;
  }

  @include desktop-w () {
    padding-left: 185px;
    justify-content: flex-start;

    background-image: url("../img/mobile/preview-background.webp");
    background-size: 496px 944px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 480px;
  }
}

.preview__description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 34px;
  padding-left: 20px;
  padding-right: 20px;

  @include tablet-w () {
    padding: 0;
    margin-top: 200px;
  }

  @include desktop-w () {
    align-items: flex-start;
    margin-top: 236px;
  }
}

.preview__title {
  font-family: var(--playfair-font);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 400;
  color: var(--black1);
  font-size: 24px;
  line-height: 1;
  margin: 0;
  max-width: 75%;
  margin-bottom: 20px;

  @include tablet-w () {
    position: relative;
    margin-bottom: 16px;
    max-width: none;

    &::after {
      content: "";
      position: absolute;
      width: 50px;
      height: 1px;
      top: 50%;
      bottom: auto;
      left: -70px;
      right: auto;
      background-color: var(--grey2);
      background-size: auto;
    }
  }

  @include desktop-w () {
    font-size: 45px;
    line-height: 60px;
    font-weight: 700;

    &::after {
      left: -65px;
    }

  }
}

.preview__subtitle {
  font-family: var(--playfair-font);
  font-weight: 400;
  margin: 0;
  max-width: 75%;
  margin-bottom: 20px;

  @include tablet-w () {
    margin-bottom: 29px;
  }

  @include desktop-w () {
    font-size: 30px;
    line-height: 31px;
  }
}

.preview__description-slogan {
  font-size: 12px;
  display: inline;
  text-align: center;
  word-wrap: break-word;
  line-height: 1;
  font-weight: 300;
  margin: 0;
  max-width: 75%;
  margin-bottom: 30px;

  @include tablet-w () {
    margin-bottom: 64px;
  }

  @include desktop-w () {
    font-size: 14px;
    line-height: 21px;
    text-align: start;
    width: 260px;
  }

}

.preview__link {
  background-color: var(--black2);
}

.preview__card {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 250px;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;

  font-family: var(--prata-font);
  color: var(--black1);
  font-size: 16px;
  line-height: 16px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/mobile/preview-image.webp");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
    width: 50%;
    max-width: 515px;
    top: 0;
    bottom: 0;
    right: 0;
    left: auto;
    background-size: auto 100%;
  }

  @include tablet-w () {
    padding: 0;
    flex-grow: 1;
    justify-content: space-around;

    &::before {
      width: 75%;
      background-size: 100% auto;
    }
  }

  @include desktop-w () {
    justify-content: flex-start;
    align-items: flex-end;

    &::before {
      max-width: none;
      width: 500px;
      background-size: 502px 100%;
      background-position-x: center;
      right: 198px;
      bottom: -30px;
    }
  }
}

.preview__card-price {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 20px;

  @include tablet-w () {
    margin-left: 0;
  }

  @include desktop-w () {
    margin-top: 138px;
    margin-right: 710px;
    margin-bottom: auto;
  }
}

.preview__card-number {
  margin-right: 7px;
  height: 16px;
}

.preview__card-price-wrapper {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 1px;
    top: 50%;
    bottom: auto;
    right: -100px;
    left: auto;
    background-color: var(--grey2);
    background-size: auto;
  }

  @include tablet-w () {
    &::after {
      width: 30px;
      right: -40px;
    }
  }

  @include desktop-w () {
    &::after {
      width: 50px;
      right: -65px;
    }
  }

}

.preview__card-price-svg {
  fill: none;
}

.preview__card-parameters {
  margin: 0;
  margin-left: 20px;

  @include tablet-w () {
    margin-left: 0;
  }

  @include desktop-w () {
    margin-bottom: 116px;
    margin-right: 114px;
  }
}

.preview__card-parameter {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 1px;
    top: 50%;
    bottom: auto;
    right: -70px;
    left: auto;
    background-color: var(--grey2);
    background-size: auto;
  }

  @include tablet-w () {
    &::after {
      width: 30px;
      right: -40px;
    }
  }

  @include desktop-w () {
    &::after {
      width: 50px;
      right: auto;
      left: -65px;
    }
  }
}
