.subscribe__wrapper {
  @include content;
  padding-bottom: 70px;

  @include desktop-w {
    padding-left: 260px;
    padding-right: 285px;
    padding-bottom: 116px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 120px;

    overflow-y: inherit;
    overflow-x: clip;
  }
}

.subscribe__cashback-wrapper {
  position: relative;
  padding-bottom: 365px;

  &::before {
    content: "";
    position: absolute;
    left: calc(50% - (359px / 2));
    bottom: 6px;
    width: 359px;
    height: 359px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../img/mobile/subscribe-cashback-background.webp"),
      radial-gradient(
        128px 132px at 195px 225px,
        rgba(130, 65, 239, 0.29),
        #fff
      );
  }

  @include desktop-w {
    width: 419px;
    padding-bottom: 0;

    &::before {
      width: 892px;
      height: 892px;
      background-image: url("../../img/desktop/subscribe-background.webp");
      left: 297px;
      top: -233px;
      bottom: auto;
    }
  }
}

.subscribe__title {
  margin: 0;
  margin-bottom: 24px;

  font-family: var(--yandex-black-font);
  font-size: 32px;
  line-height: 1;
  letter-spacing: -1px;
  vertical-align: top;
  width: calc(290 / 311 * 100%);
  font-weight: 900;

  @include desktop-w {
    font-size: 48px;
    margin-bottom: 35px;
  }
}

.subscribe__text {
  margin: 0;
  font-size: 16px;
  line-height: 120%;
  font-family: var(--yandex-medium-font);
  font-weight: 500;

  @include tablet-w {
    font-size: 24px;
  }
}

.subscribe__options-wrapper {
  @include desktop-w {
    position: relative;
    width: 419px;
    align-self: flex-end;

    &::before {
      content: "";
      position: absolute;
      left: -714px;
      top: -120px;
      bottom: auto;
      width: 710px;
      height: 725px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("../../img/desktop/subscribe-cashback-background.webp");
    }
  }
}

.subscribe__options {
  margin-bottom: 28px;

  @include desktop-w {
    margin-bottom: 40px;
  }
}

.subscribe__button {
  @include btnres;

  width: 100%;
  max-width: 450px;
  min-height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: var(--yandex-medium-font);
  font-size: 18px;
  line-height: 22px;
  color: var(--black1);
  font-weight: 500;

  border-radius: 36px;
  background-color: var(--yellow1);
  box-shadow: 0 4px 64px 0 rgba(255, 222, 64, 59%);
  margin: 0 auto;

  &:hover {
    transition: 1s;
    box-shadow: 0 4px 64px 10px rgba(255, 222, 64, 99%);
    opacity: 95%;
  }

  @include tablet-w {
    max-width: 281px;
    min-height: 61px;
    font-size: 24px;
  }

  @include desktop-w {
    margin-right: auto;
    margin-left: 0;
  }
}
