.subscribe__wrapper {
  @include content;
  padding-bottom: 90px;

  @include desktop-w {
    padding-left: 260px;
    padding-right: 285px;
    padding-bottom: 111px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 128px;
  }
}

.subscribe__cashback-wrapper {
  position: relative;
  padding-bottom: 376px;

  &::before {
    content: "";
    position: absolute;
    left: calc(50% - (359px / 2));
    bottom: 8px;
    width: 359px;
    height: 359px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../img/mobile/subscribe-cashback-background.webp"), radial-gradient(128px 132px at 195px 225px,rgba(130,65,239,.29),#fff);
  }

  @include desktop-w {
    width: 419px;
    padding-bottom: 0;

    &::before {
      width: 785px;
      height: 764px;
      background-image: url("../../img/desktop/subscribe-background.webp");
      left: 383px;
      top: -188px;
      bottom: auto;
    }
  }
}

.subscribe__title {
  margin: 0;
  margin-bottom: 32px;

  font-family: var(--yandex-black-font);
  font-size: 32px;
  line-height: 1;
  letter-spacing: -2px;
  vertical-align: top;
  width: calc(290/311 * 100%);
  font-weight: 900;

  @include desktop-w {
    font-size: 48px;
    margin-bottom: 48px;
  }
}

.subscribe__text {
  margin: 0;
  font-size: 16px;
  line-height: 120%;
  font-family: var(--yandex-medium-font);
  font-weight: 500;

  @include desktop-w {
    font-size: 24px;
  }
}

.subscribe__options-wrapper {
  @include desktop-w {
    position: relative;
    width: 419px;
    align-self: flex-end;

    &::before {
      content: "";
      position: absolute;
      left: -714px;
      top: -128px;
      bottom: auto;
      width: 710px;
      height: 725px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("../../img/desktop/subscribe-cashback-background.webp");
    }
  }
}

.subscribe__options {
  margin-bottom: 32px;

  @include desktop-w {
    margin-bottom: 48px;
  }
}

.subscribe__button {
  @include btnres;

  width: 100%;
  max-width: 450px;
  min-height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: var(--yandex-medium-font);
  font-size: 18px;
  line-height: 22px;
  color: var(--black1);
  font-weight: 500;

  border-radius: 36px;
  background-color: var(--yellow1);
  box-shadow: 0 4px 64px 0 rgba(255, 222, 64, 59%);
  margin: 0 auto;

  @include desktop-w {
    max-width: 281px;
    min-height: 61px;
    margin-right: auto;
    margin-left: 0;
    font-size: 24px;
  }

}

