@font-face {
  font-family: "Roboto";
  src: local('Roboto'), local('Roboto-Regular'),
    url("../fonts/Robotoregular.woff2") format("woff2"),
    url("../fonts/Robotoregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url("../fonts/Robotobold.woff2") format("woff2"),
    url("../fonts/Robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Light"), local('Roboto Light'),
    url("../fonts/Robotolight.woff2") format("woff2"),
    url("../fonts/Robotolight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: local("Playfair-Display"), local('Playfair Display'),
    url("../fonts/PlayfairDisplayregular.woff2") format("woff2"),
    url("../fonts/PlayfairDisplayregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: local("PlayfairDisplay-Bold"), local('PlayfairDisplay Bold'),
    url("../fonts/PlayfairDisplaybold.woff2") format("woff2"),
    url("../fonts/PlayfairDisplaybold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Prata";
  src: local('Prata'), local('Prata-Regular'),
    url("../fonts/Prataregular.woff2") format("woff2"),
    url("../fonts/Prataregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
