*,
::after,
::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: top;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--default-white);

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  min-height: 100%;
  color: var(--main-black);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

//hidden
.visually-hidden {
  position: absolute;
  width: 0;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}
