:root {
  // default //
  --default-black: #000000;
  --default-white: #ffffff;
  --arial: "Arial", "sans-serif", "Verdana";
  --tablet-width: 768px;
  --desktop-width: 1366px;
  --mobile-width: 320px;

  // custom
  --main-font: "Roboto", "Arial", "sans-serif";
  --playfair-font: "Playfair Display", "Arial", "sans-serif";
  --prata-font: "Prata", "Arial", "sans-serif";
  --main-black: #555248;
  --white-background1: #FDFDFB;
  --grey1: #E6E6E6;
  --grey2: #8B8371;
  --grey3: #444240;
  --grey4: #C4C0B6;
  --yellow1: #E6C8B4;
  --yellow2: #F7F5EF;
  --pink1: #D4B098;
  --black1: #1B1A17;
  --black2: #444240;


  --mobile-padding: 20px;
  --tablet-padding: 70px;
  --desktop-r-padding: 98px;
  --desktop-l-padding: 94px;
}
