:root {
  // default //
  --default-black: #000000;
  --default-white: #ffffff;
  --arial: "Arial", "sans-serif", "Verdana";
  --tablet-width: 768px;
  --desktop-width: 1366px;
  --mobile-width: 320px;

  // custom
  --main-font: "yandexRegular", "Arial", "sans-serif";
  --yandex-black-font: "yandexBlack", "Arial", "sans-serif";
  --yandex-medium-font: "yandexMedium", "Arial", "sans-serif";

  --mobile-padding: 32px;
  --tablet-padding: 70px;
  --desktop-r-padding: 98px;
  --desktop-l-padding: 94px;
  --black1: #21201F;
  --white1: #f1f1f1;
  --grey1: #808080;
}
